// button {
//   border: solid thin black;
//   background-color: white;
//   cursor: pointer;
//   margin: 1rem;
//   transition: color ease 300ms, background-color ease 300ms;

//   &:hover {
//     color: white;
//     background-color: black;
//   }
// }

body, html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  font-family: 'Roboto';
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
