{
  "extends":"airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "commonjs": true,
    "mocha": true,
  },
  // required to lint *.vue files
  plugins: [
    'html'
  ],
  // check if imports actually resolve
  settings: {
    'import/resolver': {
      'webpack': {
        'config': 'webpack.config.js'
      }
    }
  },
  "rules": {
    "max-len": 0,
    "generator-star-spacing": 0,
    "no-param-reassign": ["error", { "props": false }],
    "no-restricted-syntax": 0,
    "no-plusplus":0,
    "no-console": 0,
    "import/no-extraneous-dependencies": ["error", {"devDependencies": ["**/*.test.js", "**/*.spec.js"]}],
    "import/extensions": ["error", "always", {
      "js": "never",
      "vue": "never",
    }],
  },
}
